@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(calc(var(--_px) * -1px));
  }
  100% {
    transform: translateX(0%);
  }
}

.display {
  font-family: var(--pyr-font-display);
  font-size: 4rem;
  text-align: right;
  background: var(--pyr-second-bg);
  color: var(--pyr-display-font);
  width: 38rem;
  padding: 1rem;
  border: 0.5rem solid var(--pyr-inner-frame);
  border-radius: 1rem;
}
.title {
  overflow: hidden;
}
.title span {
  white-space: nowrap;
  display: inline-block;
  min-width: 100%;
  text-align: center;
}
.marquee span {
  animation:
    calc(var(--_px) / 16 * 1.5s)
    steps(max(1, var(--_px) / 32))
    1s
    infinite
    both
    marquee;
}
